{% extends "scout/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scout/league.js' %}"></script>
{% endblock %}

{% block body %}
<div class="btn-group">
  <a class="btn btn-sucess dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Team
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for team in teams %}    
        <a href="{% url 'team' team.name %}" id="{{team.name}}" class="dropdown-item teamnames">{{team.name}}</a>
    {% endfor %}
  </div>
</div>
    <div id="salaryoverview"></div>
    <div id="salarygoals"></div>
    <div id="salaryassists"></div>
    <div id="salarytackles"></div>
{% endblock %}