{% extends "scout/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scout/league.js' %}"></script>
{% endblock %}

{% block body %}
    {% for team in teams %}    
        <a href="{% url 'team' team.name %}"><span id="{{team.name}}" class="badge badge-pill badge-success teamnames">{{team.name}}</span></a>
    {% endfor %}
    <div id="salaryoverview"></div>
    <div id="salarygoals"></div>
    <div id="salaryassists"></div>
    <div id="salarytackles"></div>
{% endblock %}