{% extends "scout/layout.html" %}
{% load static %}


{% block script %}
    <script src="{% static "scout/team.js" %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="generalteaminfo">
                <p id="teamname">{{team}}</p>
                <p id="leaguestanding"> <span class="styling">League Standing: </span><span class="stats">{{teamstats.leagueranking}}</span></p>
                <p id="matchepoints"> <span class="styling">Matches Played: </span><span class="stats">{{teamstats.matchesplayed}}</span>
                <span class="styling">Points: </span><span class="stats">{{teamstats.points}}</span>
                <span class="styling">Points p/Game: </span><span class="stats">{{teamstats.pointspergame}}</span></p>
                <p id="results"> <span class="styling">Won: </span><span class="stats">{{teamstats.matcheswon}}</span>
                <span class="styling">Drawn: </span><span class="stats">{{teamstats.matchesdrawn}}</span>
                <span class="styling">Lost: </span><span class="stats">{{teamstats.matcheslost}}</span></p>
                <p id="goalsforinfo"> <span class="styling">Goals For: </span><span class="stats">{{teamstats.goalsfor}}</span>
                <span class="styling">Expected Goals For: </span><span class="stats">{{teamstats.exgoals}}</span></p>
                <p id="goalsallowedtinfo"> <span class="styling">Goals Allowed: </span><span class="stats">{{teamstats.goalsagainst}}</span>
                <span class="styling">Expected Goals Allowed </span><span class="stats">{{teamstats.exgoalsagainst}}</span></p>
                <p class="subtitle">Estimated Salaries</p>
                <p id="salariesinfo">  <span class="styling">Starters Weekly Salaries: </span><span class="stats">{{startersalary}} €</span>
                <span class="styling">Reserves Weekly Salary: </span><span class="stats">{{reservesalary}} €</span> 
                <span class="styling">Total: </span><span class="stats">{{totalsalary}} €</span></p>
            </div>   
        </div>
        <div class="col">
            <div id='salaryoverview'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id='playersalaries'>
        </div>
    </div>
    </div>
</div>
    <div class="playerinfo">
        
    </div>
</div>

<span id="dictreservesalary" hidden>{{salaryoverviewreserve| safe}}</span>
<span id="dictstartersalary" hidden>{{salaryoverviewstarter| safe}}</span>
<span id="dicttotalsalary" hidden>{{salaryoverviewtotal| safe}}</span>
<span id="startersalaryinfo" hidden>{{startersalaryinfo| safe}}</span>
<span id="reservesalaryinfo" hidden>{{reservesalaryinfo| safe}}</span>
{% endblock %}
