{% extends "scout/layout.html" %}
{% block body%}
{% if user.is_staff %}
<div class="container-fluid">
    <div class="row row-cols-4">
    
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Teams</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="teams">
                        <input type="submit" name="teams" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorteam %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorteam}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Players</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="players">
                        <input type="submit" name="players" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorplayer %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorplayer}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Time</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="time">
                        <input type="submit" name="time" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errortime %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errortime}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Misc Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="misc">
                        <input type="submit" name="misc" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errormisc %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errormisc}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Aerial Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="aerial">
                        <input type="submit" name="aerial" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if erroraerial %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{erroraerial}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Shooting Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="shooting">
                        <input type="submit" name="shooting" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorshooting %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorshooting}}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>  
</div>
{% endif %}
{% endblock %}