{% extends "scout/layout.html" %}
{% block body%}
{% if user.is_staff %}
<div class="container-fluid">
    <div class="row row-cols-4">
    
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Teams</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="teams">
                        <input type="submit" name="teams" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorteam %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorteam}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Players</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="players">
                        <input type="submit" name="players" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorplayer %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorplayer}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Time</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="time">
                        <input type="submit" name="time" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errortime %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errortime}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Misc Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="misc">
                        <input type="submit" name="misc" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errormisc %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errormisc}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Aerial Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="aerial">
                        <input type="submit" name="aerial" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if erroraerial %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{erroraerial}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Shooting Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="shooting">
                        <input type="submit" name="shooting" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorshooting %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorshooting}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Possession Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="possession">
                        <input type="submit" name="possession" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorpossession %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorpossession}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Passing Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="passing">
                        <input type="submit" name="passing" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorpassing %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorpassing}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Pass Types Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="passtypes">
                        <input type="submit" name="passtypes" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorpasstypes %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorpasstypes}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Defensive Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="defensive">
                        <input type="submit" name="defensive" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errordefensive %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errordefensive}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Goal and Shot Creation Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="goalshotcreation">
                        <input type="submit" name="goalshotcreation" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorgoalshotcreation %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorgoalshotcreation}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Goalkeeping Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="goalkeeping">
                        <input type="submit" name="goalkeeping" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorgoalkeeping %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorgoalkeeping}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>Salary Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="salary">
                        <input type="submit" name="salary" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorsalary %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorsalary}}</span>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <span class='uploadtitel'>General Team Statistics</span>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="genteamstats">
                        <input type="submit" name="genteamstats" value="Upload" class="uploadbtn">
                    </form>
                </div>
                {% if errorgenteamstats %}
                <div class="card-footer">
                    <span class='uploadfooter'>{{errorgenteamstats}}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>  
</div>
{% endif %}
{% endblock %}